body {
    background-image: url('4853433.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    max-width: 500px;
    width: 60%;
    margin: 50px auto 0px;
    color: white;
    background: #5f9ea0;
    text-align: center;
    border: 1px solid #5f9ea086;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    box-shadow: 5px 5px 5px #d3d3d3;
}

.header2 {
    margin: 11px;
}

form {
    max-width: 500px;
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.input-group {
    margin: 15px;
    
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 30px;
}

.btn {
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    background: cadetblue;
    box-shadow: 2px 2px 2px #d3d3d3;
}

.signIn {
    text-align: center;
}

nav {
    background-color:#5f9ea0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 5px;
}

nav li {
    list-style: none;
    margin: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;

}

nav li a:hover {
    color: darkslateblue;
}

.categories {
    color: #ffffff;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.searchBox {
    height: 35px;
    width: auto;
    margin: 9px;
}

.searchbar {
    display: flex;
    align-items: center;
}

.user {
    margin: 10px;
    display: flex;
    align-items: center;
}
.fa-user-circle {
    font-size: 34px;
}

.fa-plus-circle {
    font-size: 40px;
    cursor: pointer;
}

.fa-image:before {
    font-size: 40px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.inputBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 250px;
}

.showmemebtn{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.inputFile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
    cursor: pointer;
}

.container{
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    min-height: 250px;
}
.outputBox {
    display: flex;
    justify-content: center;
    background: #ebebeb;
}

#meme{
    margin: 60px 80px 60px 80px;
    border: 30px solid #d8d8d8;
    box-shadow: 2px 2px 2px #c5c5c5;
    border-radius: 5px;
    max-height: 500px;
    max-width: 500px;
}



